<!DOCTYPE html>
<html lang="en"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/login" method="post">
        <input type="hidden" id="errorMSG" name="errorMSG" th:value="${errorMSG}">
        <div>
            <label>아이디
                <input type="text" name="username">
            </label>
        </div>
        <div>
            <label>비밀번호
                <input type="password" name="password">
            </label>
        </div>
        <input type="submit" th:value="로그인">
        <input type="button" th:value="회원가입" onclick="location.href='/join'">
    </form>
    <script>
        if (document.getElementById("errorMSG").value != '') {
            if (document.getElementById("errorMSG").value == 'id not exist') {
                alert("존재하지 않는 아이디입니다.")
            } else if (document.getElementById("errorMSG").value == 'Wrong Password') {
                alert("비밀번호가 일치하지 않습니다.")
            }
        }
    </script>
</body>
</html>